* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../imges/bnk-bg.jpg) center / cover;
    min-height: 100vh;
    padding-top: 70px;
}

.logo {
    height: 60px;
    width: 200px;
}

.navbar {
    background-color: #9da3a4;
}

.nav-link {
    margin-right: 50px;
}

h2 {
    font-family: 'Prompt', sans-serif;
}

.reg-form {
    font-family: 'Roboto', sans-serif;
    width: 700px;
    margin: 24px auto;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 12px 50px -11px rgb(169, 169, 169);
    border-radius: 8px;
    color: black;
    overflow: hidden;
}

.reg-form form {
    padding: 32px;
}

.reg-form form .details {
    margin-top: 30px;
}

.reg-form form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-fields {
    width: calc(100% / 2 - 11px);
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}

.input-fields {
    margin: 8px 0;
}

input {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 12px 50px -11px rgb(169, 169, 169);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.input-fields .dropdown-item {
    background: rgba(255, 255, 255, 0.4);
}

.check {
    text-align: center;
}


.acc-btn {
    background-color: rgba(43, 194, 225, 0.4);
    box-shadow: 0 12px 50px -11px rgb(169, 169, 169);
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
}

.check a {
    color: black;
}

@media (max-width: 750px) {

    .reg-form {
        padding-top: 0;
        width: 90%;
        max-width: 500px;
    }

    form .fields .input-fields {
        width: calc(100% / 2 - 11px);
        display: flex;
        flex-direction: column;
        margin: 4px 0;
    }
}